<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!--<add key="authorityUrl" value="https://login.windows.net/common/oauth2/authorize/" />-->
    <!--<add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />-->
    <!--<add key="apiUrl" value="https://api.powerbi.com/" />-->
    <!--<add key="embedUrlBase" value="https://app.powerbi.com/" />-->
	
	<!-- Azure AD application config -->
    <add key="powerbi:aplicationId" value="de3d14bc-6d69-492c-80fb-ceb1b6a3b814" />
    <add key="powerbi:aplicationSecret" value="l9EKpTAKFTFTyPiFvxWmhaAYMhoo5obKEZCf0sijDXA=" />
    
    <add key="powerbi:redirectUri" value="https://localhost:44300" /> <!--Debe cambiar al pasar a producción-->
    <!--<add key="powerbi:authorityUri" value="https://login.microsoftonline.com/common" />-->
    <!--<add key="powerbi:authorityUri" value="https://login.microsoftonline.com/common/v2.0" />-->
    <add key="powerbi:authorityUri" value="https://login.windows.net/common/oauth2/authorize" />
    <add key="powerbi:apiUrl" value="https://api.powerbi.com" />
    <add key="powerbi:permissionApi" value="https://analysis.windows.net/powerbi/api" />
    <!-- Hostname for Power BI bootstrap -->
    <add key="powerbi:hostname" value="https://app.powerbi.com" />
	
	<add key="powerbi:user" value="lcueva@cmacmaynas.onmicrosoft.com" />
    <add key="powerbi:pass" value="EQlmcv3290" />
</appSettings>